extends ../layout

block content
	h3 Welcome to #{title}
	br
	br
	.text-center
		.row
			.col-sm-6
				| As you're logged you can now see this page
			.col-sm-6
				| CongratZs ;)
		br
		br
		.row
			.col-sm-12
				.alert.alert-info(role='alert')
					a(href='../users') 
						| To check the users List ;)
						br 
						| take a look at passwords