extends ../layout

block content
	h3 Don't remember your password ?
	i Please provide us your email if you want to reset your password
	br
	br
	.row
		.col-md-6
			form(role='form', method='POST', action='forgotpassword')
				.form-group
					label(for='exampleInputEmail1') Email address
					input#exampleInputEmail1.form-control(type='email',name='email', placeholder='Enter email')
				button.btn.btn-default(type='submit') Submit
		.col-md-2