extends ../layout

block content
	h3 Select a new password
	br
	.row
		.col-md-6
			form(role='form', method='POST', action='../new-password')
				.form-group
					label(for='InputPW') New Password
					input#InputPW.form-control(type='password',name='password', placeholder='Enter your new password')
					input(type='hidden', name='email', value='#{email}')
					input(type='hidden', name='secret', value='#{secret}')
				button.btn.btn-default(type='submit') Submit
		.col-md-2